.product_card{
    width: 300px;
    height: 40px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: -2px 2px 6px grey;
    display: block;
    margin: auto;
}
.product_card .num{
    width: 10%;
    height: 100%;
    float: left;
    font-size: 20px;
    font-weight: 400;
}
.product_card h4{
    width: 70%;
    height: 100%;
    float: left;
}
.product_card div{
    width: 20%;
    height: 100%;
    float: left;
    color: black;
    font-size: 25px;
    font-weight: 600;
}
.product_card div,.product_card h4{
    display: flex;
    justify-content: center;
    align-items: center;
}
.product_card h4{
    justify-content: end;

}